body {
    background-image: url("images/math-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#wrapper {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 425px;
    height: 625px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: white;
}

#display {
    display: flex;
    width: 415px;
    height: 150px; 
    border: 3px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 72px;
    background-color: lightskyblue;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 10px; 
    padding-right: 20px;
}

button {
    width: 100px;
    height: 80px;
    border: 1px solid black; 
    border-radius: 20px;
    box-sizing: border-box;
    gap: 1px;
    font-size: 32px; 
}

#clearBtn {
    background-color: green;
}

#empty {
   width: 300px; 
   border: none;
   font-family: "droid sans";
}

#equalsBtn {
    background-color: red;
}

#divBtn, #multBtn, #subBtn, #addBtn {
    background-color: orange;
}